<%- include("partials/header") -%>

<h1>Compose</h1>
    <form action="/compose" method="post">
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input type="text" name="titlePublish" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Post</label>
              <textarea type="text" name="postBody" class="form-control" cols="50" rows="5"> </textarea>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="button" style="margin-top: 10pt;">Publish</button>
              </div>
          </form>

<%- include("partials/footer") -%>