<%- include("header") -%>

<h2>This is the About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque, atque animi fugit neque vel minus optio, eveniet quibusdam accusantium quo veniam perferendis nesciunt sed molestias nobis iste, repellendus iure.</p>


<%- include("footer") -%>